
  body {
    background-color: #7d7d7d;

  }

  hr{
    border-color: black;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 3%;
  }

  h1,h3,h2{
color: #0a516d;

  }
